<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>G00419888</h1>

    <a href="/students">Students</a><br>
    <a href="/grades">Grades</a><br>
    <a href="/lecturers">Lecturers</a><br>
</body>
</html>
