<!DOCTYPE html>
<html>
<head>
    <title>Lecturers</title>
</head>
<body>
    <h1>Lecturers</h1>
    <a href="/">Home</a><br><br>

    <table border="1" cellpadding="5">
        <tr>
            <th>Lecturer ID</th>
            <th>Name</th>
            <th>Department ID</th>
            <th>Action</th>
        </tr>
        <% lecturers.forEach(function(lec){ %>
            <tr>
                <td><%= lec._id %></td>
                <td><%= lec.name %></td>
                <td><%= lec.did %></td>
                <td><a href="/lecturers/delete/<%= lec._id %>">Delete</a></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>
